* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    /* Set a high enough z-index to have it appear above other elements */
    z-index: 1000;
    /* First number value is DURATION, second is DELAY */
    animation: 4.5s fadeOut forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

.playerInputs {
    display: none;
}

.boardArea {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    /* Set display to none initially to hide gameboard */
    display: none;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: 1px solid black;
}

#restartBtn {
    /* initialized as not part of the DOM */
    display: none;
}